<div ng-controller="searchFormController as ctrl">
    <md-toolbar class="md-caption">
        <div class="md-toolbar-tools">
            <h2 class="md-flex">Find posts</h2>
        </div>
    </md-toolbar>
    <md-content layout-padding>
        <form novalidate name="searchForm" ng-submit="ctrl.submit(searchForm)">
            <md-input-container class="md-icon-float md-block">
                <label>Site</label>
                <input ng-model="form.site" name="site" type="text" required md-maxlength="100" maxlength="100">
                <div ng-messages="searchForm.site.$error" multiple>
                    <div ng-message="required">
                        Site is required. Please enter site or site id.
                    </div>
                    <div ng-message="max">
                        Maximum length is 100 characters. Please enter shorter site.
                    </div>
                </div>
            </md-input-container>

            <md-input-container class="md-icon-float md-block">
                <label>Search phrase</label>
                <input ng-model="form.phrase" name="phrase" type="text" md-maxlength="100" maxlength="100">
                <div ng-messages="searchForm.phrase.$error" multiple>
                    <div ng-message="max">
                        Maximum length is 100 characters. Please enter shorter phrase.
                    </div>
                </div>

            </md-input-container>

            <div layout-gt-xs="row">
                <md-input-container flex class="md-icon-float md-block">
                    <label>Order by</label>
                    <md-select ng-model="form.orderBy">
                        <md-option ng-repeat="option in orderOptions" ng-value="option.value">{{option.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex class="md-icon-float md-block">
                    <label>Order direction</label>
                    <md-select ng-model="form.orderDir">
                        <md-option ng-repeat="option in orderDirections" ng-value="option.value">{{option.name}}
                        </md-option>
                    </md-select>
                </md-input-container>

                <md-input-container flex class="md-icon-float md-block">
                    <label>Posts limit</label>
                    <input ng-model="form.postsLimit" name="postsLimit" type="number" min="5" max="100" required>
                    <div ng-messages="searchForm.postsLimit.$error" multiple>
                        <div ng-message="required">
                            Posts limit is required. Please enter number.
                        </div>
                        <div ng-message="min">
                            Minimum number of posts is 5.
                        </div>
                        <div ng-message="max">
                            Minimum number of posts is 100.
                        </div>
                    </div>
                </md-input-container>

            </div>
            <md-content style="height:40pt">
                <md-button ng-hide="pending" class="md-raised md-primary" type="submit">Search</md-button>
                <md-progress-linear ng-show="pending" md-mode="indeterminate"></md-progress-linear>
            </md-content>

        </form>
    </md-content>

    <md-content ui-view></md-content>
</div>


