<div ng-controller="viewPostController as ctrl">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <md-button ui-sref="search-form.results" aria-label="Go Back">
                Go Back
            </md-button>
            <h2>
                Title:
                <span ng-bind-html="post.title|unsafe"></span>
            </h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-content layout-padding ng-bind-html="post.content|unsafe"></md-content>
</div>


