<div ng-controller="searchResultsController as ctrl">
    <md-list>
        <md-divider></md-divider>
        <md-subheader ng-if="found" class="md-no-sticky">Found {{found}} posts</md-subheader>
        <md-subheader ng-if="!found" class="md-no-sticky">No posts found :(</md-subheader>
        <md-list-item ng-click="ctrl.viewPost(post)" layout="row" layout-xs="column" class="md-3-line md-long-text" ng-repeat="post in posts">
            <div>
                <img ng-src="{{post.post_thumbnail.URL}}" class="md-avatar" />
            </div>
            <div flex class="md-list-item-text">
                <h3 ng-bind-html="post.title|unsafe"></h3>
                <h4>
                    {{post.author.first_name}}
                    {{post.author.last_name}}
                    ({{post.author.nice_name}})
                </h4>
                <h4>{{post.date|date}}</h4>
                <p ng-bind-html="post.excerpt|unsafe"></p>
            </div>
        </md-list-item>
    </md-list>
</div>